<div>

    <form name="addTimesheetForm" novalidate>
        <div class="form-group" ng-class="{'has-error' : addTimesheetForm.description.$error.required && addTimesheetFormSubmit}">
            <input type="text" ng-model="timesheet.description" placeholder="Enter the Description" class="form-control" required name="description"/>
            <p ng-show="addTimesheetForm.description.$error.required && addTimesheetFormSubmit"
               class="help-block" >Description is required</p>
        </div>

        <div class="form-group" ng-class="{'has-error' : addTimesheetForm.project.$error.required && addTimesheetFormSubmit}">
            <select  ng-model="timesheet.project" ng-options="p.name for p in timesheet.projectArr track by p.id" class="form-control" required  name="project"><option value="">Select</option></select>
            <p ng-show="addTimesheetForm.project.$error.required && addTimesheetFormSubmit"
               class="help-block" >Project is required</p>
        </div>

        <div  class="form-group" ng-class="{'has-error' : addTimesheetForm.tag.$error.required && addTimesheetFormSubmit}">
            <div ng-repeat="(tag,enabled) in timesheet.tagArr">
                <div class="checkbox check-info">
                    <input id="tag-{{$index}}" type="checkbox" ng-model="timesheet.tagArr[tag]" class="form-control" name="tag"/>
                    <label for="tag-{{$index}}">{{tag}}</label>
                </div>
            </div>
            <p ng-show="addTimesheetForm.tag.$error.required && addTimesheetFormSubmit"
               class="help-block" >Tag is required</p>
        </div>

        <div  class="form-group">
            <label>Start Time</label><input ng-model="timesheet.start_time_format"/>
        </div>

        <div  class="form-group">
            <label>End Time</label><input ng-model="timesheet.end_time_format"/>
        </div>

        <div  class="form-group">
            <timer interval="1000" auto-start="false" ><span ng-show="hours">{{hours}} hour{{hoursS}}, </span> <span ng-show="minutes">{{minutes}} minute{{minutesS}}, </span>{{seconds}} second{{secondsS}}.</timer>

            <button ng-click="startTimer()" ng-disabled="timerRunning" class="btn btn-success" ng-show="!timerRunning">Start Timer</button>
            <button ng-click="stopTimer(addTimesheetForm)" ng-disabled="!timerRunning"  class="btn btn-success" ng-show="timerRunning">Stop Timer</button>
        </div>

    <!-- <h3>Timer 1: <timer/></h3>
     <h3>Timer 2: <timer interval="2000"/></h3>
     <h3>Timer 3: <timer>{{minutes}} minutes, {{seconds}} seconds.</timer></h3>
     <button ng-click="startTimer()" ng-disabled="timerRunning">Start Timers</button>
     <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timers</button>-->

    <div class="row">
    <div class="col-md-12">
        <div  ng-repeat="value in sortedTimeEntries track by $index">
            <h3><div class="pull-left">{{value.date}}</div>
                <div class="pull-right">{{value.totalDuration}}</div>
            </h3>
        <table class="table">
            <tr ng-repeat="timeEntry in value.data track by $index">
                <td class="col-md-3">{{timeEntry.description}}</td>
                <td class="col-md-3">{{timeEntry.project}}</td>
                <td class="col-md-3">{{timeEntry.total_time}}</td>
                <td class="col-md-2" ng-click="continue_entry(timeEntry.uuid, addTimesheetForm)"><i class="glyphicon glyphicon-play"></i></td>
                <td class="col-md-2" ng-click="delete_entry(timeEntry.uuid)"><i class="glyphicon glyphicon-remove"></i></td>
            </tr>
        </table>
        </div>
    </div>
    </div>
    </form>

</div>